@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(217, 54%, 11%);
    min-height: calc(100vh - 0.1px);
    padding: 1.5em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    background-color: hsl(216, 50%, 16%);
    padding: 1.625em;
    border-radius: 1em;
    margin-bottom: 2em;
    max-width: 375px;
}

a{
    color: white;
    text-decoration: none;

    &:hover, &:focus{
        color: hsl(178, 100%, 50%);
}}

section:first-of-type{
    img{
        width: 100%;
        height: auto;
        border-radius: 1em;
    }

    // a:active, a:hover, a:focus{
    //     background: hsl(178, 100%, 50%);
    //     z-index: 100;
    // }
}

section:last-of-type{

    h1{
        margin: 1em 0;
        font-weight: 600;
    }

    p{
        color: hsl(215, 51%, 70%);
        font-size: 18px;
        display: flex;
        justify-content: flex-start;
        line-height: 1.625em;
        span{
            margin-top: .325em;
            font-weight: 400;
        }

        img{
            max-width: 40px;
            border: .5px solid white;
            border-radius: 50%;
            margin-right: 1em;
        }
    }

    p:last-of-type{
        border-top: 1px solid hsl(215, 51%, 70%);
        padding-top: 1em;
    }

    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        li{
            letter-spacing: .05em;
            display: flex;
            column-gap: .5em;
        }

        li:first-of-type{
            color: hsl(178, 100%, 50%);
            display: flex;
        }

        li:last-of-type{
            color: hsl(215, 51%, 70%);
            display: flex;
        }
    }
}



.attribution { font-size: 14px; text-align: center; color: white;}
.attribution a { color: hsl(228, 45%, 44%); }